[submodule "chatbot"]
    path = chatbot
    url = https://github.com/QuantumLogicsLabs/QuantumLearningWorkspace-Chatbot.git
[submodule "backend"]
    path = web/backend
    url = https://github.com/QuantumLogicsLabs/QuantumLearningWorkspace-Backend.git
[submodule "frontend"]
    path = web/frontend
    url = https://github.com/QuantumLogicsLabs/QuantumLearningWorkspace-Frontend.git