MONGODB_URI=mongodb+srv://<username>:<password>@<cluster-url>/
MONGODB_DB_NAME=study_mind_db
JWT_SECRET_KEY=<your-secret-key-here>
INTERNAL_SERVICE_KEY=<your-internal-service-key-here>

WEB_API_URL=http://localhost:5000
CHATBOT_SERVICE_URL=http://localhost:8000
INGESTION_SERVICE_URL=http://localhost:8001
QUIZ_SERVICE_URL=http://localhost:8002