GROQ_API_KEY=groq_api_key_here

# Pinecone (RAG vector database)
PINECONE_API_KEY=your-pinecone-api-key
HOST=your-pinecone-host-url
PINECONE_INDEX_NAME=your-pinecone-index-name
PINECONE_TOP_K=5

# MongoDB (Conversation History)
MONGODB_URI="mongodb://<username>:<password>@<cluster-host>/<db-name>?ssl=true&replicaSet=<replica-set-name>&authSource=admin&appName=<app-name>"

# HF_TOKEN (Hugging Face token)
HF_TOKEN=your-huggingface-access-token